.booth {
    width: 410px;
    background: #ccc;
    border: 5px solid #ddd;
    margin: 0 auto;
}

.starting {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 1;
}

.starting>p {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 1;
}

#video {
    height: 0;
    width: 0;
    overflow: hidden;
}

.bar {
    width: 80%;
    margin: 10px auto;
}

.w3-container {
    height: 30px;
    white-space: nowrap;
    font-size: 18px;
}

.select {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

header {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#description {
  margin: 0 auto;
  width: 90%;
  border: 5px solid #ddd;
  padding: 10px 30px;
}

h3 {
    font-family: 'GungsuhChe', 'Gungsuh', '궁서체', '궁서' !important;
    font-size: 30px !important;
    text-align: center;
    color: darkblue;
}

#madeby {
  font-size: 20px;
  text-align: center;
}