body {
    position: relative;
    z-index: 1;
}

body:after {
    background-image: url("background.jpg");
    top: 0;
    left: 0;
    position: absolute;
    background-size: 100%;
    opacity: 0.2!important;
    filter:alpha(opacity=50);
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
}

#title {
    margin: 10px auto;
    width: 100%;
}

.booth {
    width: 210px;
    background: #ccc;
    border: 5px solid #ddd;
    margin: 0 auto;
}

.starting {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 1;
}

.starting > p {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 10px;
    line-height: 1;
}

#video {
    height: 0;
    width: 0;
    overflow: hidden;
}

.bar {
    height: 30px !important;
    white-space: nowrap;
    font-size: 18px !important;
    width: 80%;
    text-align: center;
    margin: 10px auto;
}

.select {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

header {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 30px !important;
    text-align: center;
}

h3 {
    font-family: 'GungsuhChe', 'Gungsuh', '궁서체', '궁서' !important;
    font-size: 30px !important;
    text-align: center;
    color: darkblue;
}

#madeby {
    font-size: 20px;
    text-align: center;
}

p {
    word-break: break-word;
}

.spinner-border {
    margin: 10px auto;
}

.input-group {
    width: 80% !important;
    margin: 10px auto;
}

.wrapper {
    height: 100%;
    text-align: center;
}

.wrapper:before {
    content: ""; display: inline-block;
    width: 1px; height: 100%;
    margin-right: 0; vertical-align: middle;
}

#btn-box {
    display: inline-block; vertical-align: middle;
    margin-bottom: 10px;
}

.card {
    margin: 0 auto;
    width: 80%;
}