.booth {
    width: 400px;
    background: #ccc;
    border: 10px solid #ddd;
    margin: 0 auto;
  }

#video {
  height: 0px;
  width: 0px;
  overflow:hidden;
}

.bar {
  width: 80%;
  margin: 10px auto;
}